{% extends "dashboard/index.html" %}
{% load static %}
{% block head %}
    <title>Average Sale</title>
	<!--plugins-->
	<link href="{% static "assets/plugins/simplebar/css/simplebar.css" %}" rel="stylesheet" />
	<link href="{% static "assets/plugins/perfect-scrollbar/css/perfect-scrollbar.css" %}" rel="stylesheet" />
	<link href="{% static "assets/plugins/metismenu/css/metisMenu.min.css" %}" rel="stylesheet" />
	<link href="{% static "assets/plugins/datatable/css/dataTables.bootstrap5.min.css" %}" rel="stylesheet" />
	<!-- loader-->
	<link href="{% static "assets/css/pace.min.css" %}" rel="stylesheet" />
	<script src="{% static "assets/js/pace.min.js" %}"></script>
	<!-- Bootstrap CSS -->
	<link href="{% static "assets/css/bootstrap.min.css" %}" rel="stylesheet">
	<link href="{% static "assets/css/bootstrap-extended.css" %}" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&amp;display=swap" rel="stylesheet">
	<link href="{% static "assets/css/app.css" %}" rel="stylesheet">
	<link href="{% static "assets/css/icons.css" %}" rel="stylesheet">
	<!-- Theme Style CSS -->
	<link rel="stylesheet" href="{% static "assets/css/dark-theme.css" %}" />
	<link rel="stylesheet" href="{% static "assets/css/semi-dark.css" %}" />
	<link rel="stylesheet" href="{% static "assets/css/header-colors.css" %}" />
{% endblock %}
{% block page_content %}
<h6 class="mb-0 text-uppercase">average sales per agent</h6>
<hr/>
<div class="card">
    <div class="card-header">
        <form method="POST" class="row">
            {% csrf_token %}
            <div class="col-md-4">
                <label for="month" class="form-label">Select Month:</label>
                <!-- Cambié el name del select para que envíe el valor del mes -->
                <select name="month" id="month" class="form-select" required>
                    <option value="no_valid" disabled selected>Please Select</option>
                    <option value="1">January</option>
                    <option value="2">February</option>
                    <option value="3">March</option>
                    <option value="4">April</option>
                    <option value="5">May</option>
                    <option value="6">June</option>
                    <option value="7">July</option>
                    <option value="8">August</option>
                    <option value="9">September</option>
                    <option value="10">October</option>
                    <option value="11">November</option>
                    <option value="12">December</option>
                </select>
            </div>
            <div class="col-md-4">
                <label for="agent" class="form-label">Agent</label>
                <!-- El select para el agente, ya está correcto -->
                <select class="form-select" id="agent" name="agent" required>
                    <option value="" disabled selected>Please Select</option>
                    {% for agent in agents %}
                        <option value="{{ agent.id }}">{{ agent.first_name }} {{ agent.last_name }}</option>
                    {% endfor %}
                </select>
            </div>
            <br><br><br><br>
            <div class="form-label">
                <button type="submit" class="btn btn-primary">Filter</button>
                <a href="{% url 'averageSales' %}" class="btn btn-secondary">Reset</a>
            </div>
        </form>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <div class="table-responsive">
			<div id="pulsarns200"></div>
        </div>
    </div>
</div>
<div class="row">
    {% for agent in agents %}
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <div id=""></div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
{% block end_js %}
	<!-- Bootstrap JS -->
	<script src="{% static "assets/js/bootstrap.bundle.min.js" %}"></script>
	<!--plugins-->
	<script src="{% static "assets/js/jquery.min.js" %}"></script>
	<script src="{% static "assets/plugins/simplebar/js/simplebar.min.js" %}"></script>
	<script src="{% static "assets/plugins/metismenu/js/metisMenu.min.js" %}"></script>
	<script src="{% static "assets/plugins/perfect-scrollbar/js/perfect-scrollbar.js" %}"></script>
	<script src="{% static "assets/plugins/datatable/js/jquery.dataTables.min.js" %}"></script>
	<script src="{% static "assets/plugins/datatable/js/dataTables.bootstrap5.min.js" %}"></script>
	<script src="{% static "assets/plugins/apexcharts-bundle/js/apexcharts.min.js" %}"></script>
	<script src="{% static "assets/plugins/apexcharts-bundle/js/apex-custom.js" %}"></script>

	<!--app JS-->
	<script src="{% static "assets/js/app.js" %}"></script>

	<script>
		// Recuperamos los datos de Django y los pasamos a JavaScript
		var weeks = {{ weeks|safe }};  // Semanas
		var counts_obamacare = {{ counts_obamacare|safe }};  // Conteos de ObamaCare
		var counts_supp = {{ counts_supp|safe }};  // Conteos de Supp
		var counts_total = {{ counts_total|safe }};  // Total combinado de ObamaCare y Supp
        var nameChart = '{{ nameChart }}';

        // Determinamos el valor máximo para el eje Y
        var maxValue = Math.max(Math.max(...counts_obamacare), Math.max(...counts_supp), Math.max(...counts_total));
        if (maxValue <= 20) {
            maxValue = 20;  // Si el máximo es menor o igual a 20, lo dejamos en 20
        } else {
            maxValue = Math.ceil(maxValue / 10) * 10;  // Redondeamos hacia arriba al siguiente múltiplo de 10
        }

        var options = {
            series: [{
                name: 'OBAMACARE',
                data: counts_obamacare  // Usamos los datos de ObamaCare
            }, {
                name: 'SUPPLEMENTAL',
                data: counts_supp  // Usamos los datos de Supp
            }, {
                name: 'OBAMACARE/SUPPLEMENTAL',
                data: counts_total  // Usamos los datos del total combinado
            }],
            chart: {
                type: 'bar',
                height: 350
            },
            plotOptions: {
                bar: {
                    horizontal: false,
                    columnWidth: '55%',
                    borderRadius: 5,
                    borderRadiusApplication: 'end'
                },
            },
            dataLabels: {
                enabled: false
            },
            stroke: {
                show: true,
                width: 2,
                colors: ['transparent']
            },
            xaxis: {
                categories: weeks  // Usamos las semanas como categorías en el eje X
            },
            yaxis: {
                title: {
                    text: 'Cantidad'
                },
                max: maxValue
            },
            fill: {
                opacity: 1
            },
            title: {
                text: nameChart,
            },
            tooltip: {
                theme: 'dark',  // Esto asegura que el tooltip tenga un fondo oscuro
                y: {
                    formatter: function (val) {
                        return val + " registros";
                    }
                }
            },
            annotations: {
                yaxis: [{
                y: 15,
                borderColor: '#FF0000',
                label: {
                    borderColor: '#FF0000',
                    style: {
                    color: '#fff',
                    background: '#FF0000'
                    },
                    text: 'Dead'
                }
                }]
            }
        };  
  
        var chart = new ApexCharts(document.querySelector("#pulsarns200"), options);
        chart.render();

	</script>
{% endblock %}